body {
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
    margin: 0%;
    padding: 30px;
    position: absolute;
}
.form-container{
    max-width: 650px;
    margin: auto;
    background-color: cadetblue;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0,1);
}
h1{
    text-align: center;
]    margin-bottom: 25px;
    color: darkblue;

}
label{
    display: contents;
    margin: 18px 0 8px;
    font-weight: 700;

}
input[type="text"],
textarea,
select{
    width: 100%;
    padding: 10px;
    font-size: medium;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    resize: horizontal;
}
.rating-group input[type="radio"]{
    margin-right: 5px;

}
button{
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor:pointer
}
button::highlight{
    background-color:#45a049;}
